/**
 * @file plugins/themes/default/styles/footer.less
 *
 * Copyright (c) 2014-2019 Simon Fraser University
 * Copyright (c) 2003-2019 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * @brief Classes for the page footer elements
 */

.pkp_structure_footer_wrapper {
	background: @bg-shade;
}

.pkp_structure_footer {
	text-align: center;
}

// aek 20190806 changed from @triple
.pkp_footer_content {
	//padding: @triple;
	padding: @double;
	text-align: left;
}

// OJS brand images in footer
// aek 20190807 changed  max-width from 150 to 75px
.pkp_brand_footer {
	.pkp_helpers_clear();
	padding: @triple;
	a {
		float: right;
		display: block;
		max-width: 75px;
	}
}
